.título {
  color: rgb(255, 255, 255);

  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: rgb(136, 113, 105);
  margin: 0%;
}

footer {
  background-color: rgb(38, 94, 199);
  padding: 10px;
  color: beige;
  text-align: center;
}

nav {
  text-align: center;
  background-color: rgb(212, 212, 212);
}

section {
  border: 3px solid;
  margin-top: 17px;
  margin-bottom: 17px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding-left: 10px;
}

h3 {
  color: azure;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 17px;
}

.Sobre {
  color: rgb(156, 26, 26);
  text-align: center;
}

h4 {
  border: 2px solid;
  border-color: rgb(79, 202, 120);
  border-radius: 20px;
  padding-left: 20px;
  color: azure;
}

.foof {
  text-align: center;
}

h4 {
  border: 2px solid;
  border-radius: 20px;
  border-color: rgb(79, 202, 120);
}
